.container {
  display: grid;
  grid-template-columns: auto 100px auto 1fr 1fr auto;
  column-gap: 5rem;
  align-items: center;
}
img {
  max-width: 100px;
}
.flag {
  max-width: 50px;
}
.flagContainer {
  text-align: center;
  padding-top: 1rem;
}
