.container {
  display: grid;
  grid-template-columns: auto 100px auto 3fr 2fr 1fr;
  column-gap: 5rem;
  align-items: center;
}
img {
  max-width: 100px;
}
.flag {
  max-width: 50px;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #888888;
  border: 1rem;
  border-radius: 50%;
}
.flagContainer {
  text-align: center;
  padding-top: 1rem;
}
